/*************************************************
    REGOLE GENERALI
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

main {
    background-color: #F6F5F3;
    display: flex;
    justify-content: center;
}

.container {
    width: 1350px;
    padding: 20px;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

/*************************************************
    HEADER
 *************************************************/
header {
    width: 100%;
}
h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding-left: 20px;
    color: #FF9614;
}

/*************************************************
    BODY
 *************************************************/

/* TITOLO E SOTTOTITOLO */
 .sottotitolo {
    font-size: 15px;
    color: gray;
    padding-top: 30px;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

.titolo {
    font-size: 30px;
    color: #4E3969;
    padding: 10px 0px;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

/* SEZIONE IMMAGINE E DESCRIZIONE */
.container-video {
    display: flex;
    background-color: white;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

.video {
    width: 55%;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

.video-text {
    font-size: 20px;
    padding: 20px;
    width: 45%;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}
h4 {
    font-size: 25px;
}
.prep {
    padding: 10px 0px;
    list-style: none;
}

.container-social {
    display: flex;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

.social {
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}
button {
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
    border-style: solid;
    border-color: white;
    padding: 5px 35px;
}


/* SEZIONE BANNER E PRESENTAZIONE */
.banner {
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

.presentation {
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.float {
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

/*************************************************
    FOOTER
 *************************************************/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    padding: 20px 20px;
    background-color: #7C69A4;
}

.policy {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.link {
    padding: 10px;
}

a {
    color: white;
}




/*************************************************
    RESPONSIVE TABLET
 *************************************************/
@media screen and (max-width: 1020px) {
    
    .container {
        width: 1020px;
    }

    .container-video {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .copywrite {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}





 /*************************************************
    RESPONSIVE MOBILE
 *************************************************/
 @media screen and (max-width: 640px) {
    .container {
        max-width: 640px;
    }

    .container-video {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .copywrite {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}