/*************************************************
    REGOLE GENERALI
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

main {
    background-color: #F6F5F3;
    display: flex;
    justify-content: center;
}

.container {
    width: 1350px;
}

/*************************************************
    HEADER
 *************************************************/
header {
    width: 100%;
}
h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    padding-left: 20px;
    color: #FF9614;
}

/*************************************************
    BODY
 *************************************************/
.sottotitolo {
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.titolo {
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.container-video {
    display: flex;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

.video {
    width: 70%;
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.video-text {
    width: 30%;
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.container-social {
    display: flex;
    /* DEBUG */
    /* height: 100px;
    background-color: red;
    border-style: dashed; */
}

.social {
    width: calc(100% / 5);
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.banner {
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.presentation {
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

.float {
    /* DEBUG */
    height: 100px;
    background-color: red;
    border-style: dashed;
}

/*************************************************
    FOOTER
 *************************************************/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    padding: 20px 20px;
    background-color: #7C69A4;
}

.policy {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    padding-left: 10px;
}

a {
    color: white;
}




/*************************************************
    RESPONSIVE TABLET
 *************************************************/





 /*************************************************
    RESPONSIVE MOBILE
 *************************************************/